*{
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .navchild{
	font-family: 'Oswald', sans-serif;
}
footer{
	display:block;
	width:100%;
	text-align:center;
	position:absolute;
	bottom:0px;
}
.logincontainer{
	top-margin:30%;
	width: 500px;
	height:500px;
	margin: auto;
	text-align:center;
	top: 50%;
	left: 50%;
	position: absolute;
	margin: -290px 0 0 -270px;
	background:#36373c;
	padding: 20px 40px;
	border-radius:10px;
	box-shadow:0px 10px 50px -10px black;
	color:white;
}.logincontainer a{color:white;text-decoration:none;}
.signin{
	background-color:#14a27c;
	padding:10px;
	width:300px;
	color:white;
	border-radius:10px;
    margin: auto;
	margin-top:10px;
	margin-bottom:10px;
	box-shadow:0px 10px 50px -10px black;
	border-style:none;
    font-size: 1.3em;
	cursor: pointer;
}
.form1{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -215px 0px 0px -160px;
}
input{
	border:none;
	-webkit-appearance: none;
	outline: none;
	width:300px;
	border-style:none;
	border-radius:10px;
	margin-bottom:10px;
	padding:10px;
}
.checkbox{
	width:initial;
	-webkit-appearance: checkbox;
}
.colors{
	color:#36373c; /* Dark Grey */
	color:#527374; /* Darkest Blue */
	color:#fabe7a; /* Beige */
	color:#ecd8a2; /* Light Beige */
	color:#14a27c; /* Light Green */
	color:#599e99; /* Lightest Blue */
}
.signin span:after {
  content: "&#9001;";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signin:hover span {
  padding-right: 25px;
}

.signin:hover span:after {
  opacity: 1;
  right: 0;
}

.signin span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signin span:after {
  content: '?';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signin:hover span {
  padding-right: 25px;
}

.signin:hover span:after {
  opacity: 1;
  right: 0;
}

.mainheader{
	height: 38px;
	width: 100%;
	z-index: 999;
	box-shadow: 10px 0px 40px 0px;
	/* position: fixed; */
	background: #36373c;
	padding: 10 20px;
	border-radius: 0px 0px 10px 10px;
}

.logo{
	
width: 20%;
	
display: inline-block;
}.logo img{
	height:100%;
}

.nav{width: 73%;vertical-align: top;height: 100%;display: inline-block;color:#848484;}.navchild{
	transition:.5s;
	display:inline-block;
	font-size: 1.5em;
	color:#848484;
}.navchild:after{content:"|";padding:0px 10px;color:#848484;}
.navchild:hover{color:white;}

body{
	margin: 0px;
	padding: 0px;
}
.signup .mainheader,.login .mainheader{
	display:none;
}